<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048768070970-6p2n94qs7lr8ok59e9b726jfsrbn5lth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048768070970-6p2n94qs7lr8ok59e9b726jfsrbn5lth</string>
	<key>API_KEY</key>
	<string>AIzaSyD502gSQ8xfHpbP8S29aGbtjCi8PNLW4xI</string>
	<key>GCM_SENDER_ID</key>
	<string>1048768070970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jos.joshuawan.strength-in-numbers</string>
	<key>PROJECT_ID</key>
	<string>strength-in-numbers-61c20</string>
	<key>STORAGE_BUCKET</key>
	<string>strength-in-numbers-61c20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048768070970:ios:ea82627d00fe69113efc03</string>
	<key>DATABASE_URL</key>
	<string>https://strength-in-numbers-61c20-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>